@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');


:root {
    
    --cor0: #033D99;
    --cor1: #2771E5;
    --cor2: #99460B;
    --cor3: #129959;
    --cor4: #27E58B;



    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Skranji', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}


header {
    background-color: var(--cor3);
    min-height: 80px;
    text-align: center;
    padding-top: 40px;
}


.titulo {
    color: var(--cor2);
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-top: -40px;
    margin-bottom: 5px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.164);
    text-decoration: none;
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: static;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: grey;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: black;
    color: white;
}

main {
    background-color: rgb(190, 187, 187);
    
    height: 600px;
    
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 30px;
    background-color: #129959;
}

footer {
    background-color: var(--cor4);
    height: 100px;
    text-align: center;
    padding: 10px;
}
