@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');


:root {
    
    --cor0: #8F7D06;
    --cor1: #FFE330;
    --cor2: #DBC114;
    --cor3: #13008F;
    --cor4: #3b27c0;



    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Skranji', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}


header {
    background-color: black;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}


.titulo {
    color: var(--cor1);
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-top: -40px;
    margin-bottom: 5px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.164);
    text-decoration: none;
}

.titulo:hover {
    color: var(--cor4);
    text-decoration: underline;
    transition-duration: 0.5;
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.4em;
    font-weight: bold;
    color: var(--cor2);
    max-width: 800px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: static;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: grey;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: black;
    color: white;
}


main {
    background-color: var(--cor3);
    /* background-color: rgb(190, 187, 187); */
    height: 800px;
    padding: 20px 0px 0px 0px; 
    background-attachment: fixed;   
}

.master{
    width: 100%;
}

h2 {
    color: white;
    background-image: linear-gradient(to right, var(--cor0), var(--cor2), var(--cor1));
    padding: 10px;
    border-radius: 10px;
    border-radius: 10px;
}

.container_top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container {
    position: relative;
}

#image {
    position: relative;
    height: 200px;
    width: 280px;
    padding: 20px;
}

#texto {
    position: absolute;
    color: white;
    font-size: 22px;
    left: 320px;
    top: 45px;
}

#texto:hover {
    color: var(--cor2);
    text-decoration: underline;
}


footer {
    background-color: black;
    color: var(--cor2);
    font-size: 0.8em;
    text-align: center;
    padding: 10px;
}

footer a {
    color: #ddd;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor4);
}